* {
  box-sizing: border-box;  
}

body {
  background-color: #aaa;
  font-family: Helvetica, sans-serif;
  padding: 0 20px;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-size: 1em;
}

p {
  margin: 5px 0;
}

li {
  margin: 5px 0;
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

button, input {
  width: 100%;
}

.actionBar {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

#notification {
  display: grid;
  grid-template-columns: 1fr 150px;
  margin-bottom: 30px;
  padding: 20px;
}

.mainColumnLayout {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 320px 1fr;
}

.drawing {
  background-color: white;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  width: 320px;
}

.actionBar {
  margin-bottom: 20px;
}

#fields, .fields, .actionBar {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

#fields {
  background-color: #bbb;
  max-height: 60vh;
  overflow: scroll;
}

@media (min-height: 600px) {
  #fields {
    max-height: 70vh;
  }
}

@media (min-height: 1000px) {
  #fields {
    max-height: 80vh;
  }
}

.fields, .actionBar {
  background-color: #ddd;
}

.fields {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 120px 1fr;
  margin: 10px auto;
}

.card {
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.columnGrid {
  display: grid;
  grid-gap: 20px;
}

#hide {
  margin-top: 10px;
}
